.wrapper {
    display: grid;
    grid-template-columns: 90% 30px;
}

button {
    height: 20px;
}


input {
    height: 10px;
    width: 90%;
    border-radius: 0.67em;
    font-size: medium;
    padding: 3px;
}

body {
    width: 300px;
    max-height: 600px;
    background-color: rgb(222, 51, 136);
}

li {
    color: aliceblue;
}

summary {
    color: aliceblue;
    font-size: medium;
}